<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Incidencias</h2>
		<p>Mis incidencias:</p>
		<span th:text="${errorMsg}" style="color:red" ></span>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableIncidencias"
				id="tableIncidencias">
				<thead>
					<tr>
						<th>Nombre incidencia</th>
						<th>Agente</th>						
						<th>Localizacion incidencia</th>
						<th>Estado incidencia</th>				
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="incidencia : ${incidenciasList}">
						<td><span th:if="${incidencia.isPeligrosa()}"  style="color:red" >*</span> <a th:text="${incidencia.incidenceName}" th:href="@{/incidencias/locationOf/{id}(id=${incidencia.id})}">Nombre de la incidencia</a></td>
						<td th:text="${incidencia.agent.nombre}">Nombre del agente</td>
						<td th:text="${incidencia.location}">Localizacion de la incidencia</td>
						<td th:text="${incidencia.status}">Estado de la incidencia</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
	<p style="text-align:center; color:blue">(*) Las incidencias que se encuentran contempladas como peligrosas se ven marcadas con un '*' delante del nombre</p>
	<footer th:replace="fragments/footer" />
</body>
</html>