<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<meta charset="UTF-8"/>
 	<title>Datos personales</title>
	<link rel="stylesheet" type="text/css" href="/templates/css/styles.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>
<body>
<main class="container">
<h1>Datos personales</h1>
	<form method="POST" action="confirmEmail" >
		<label for="email"><strong>Correo:</strong> </label>
		<input type="text" class="form-control" style="width: auto;display: inline-block;" name="email" th:value="${session.agent.email}"/>
		<input type="submit" class="btn btn-primary" name="cambiarEmail" value="Cambiar email"/>
	</form>
	
	<p><strong>Nombre:</strong> <span th:text="${session.agent.nombre}"></span></p>
	<p><strong>Localización:</strong> <span th:text="${session.agent.location}"></span></p>
	<p><strong>Identificador:</strong> <span th:text="${session.agent.ident}"></span></p>
	<p><strong>Email:</strong> <span th:text="${session.agent.email}"></span></p>
	<p><strong>Kind:</strong> <span th:text="${session.agent.kind}"></span></p>
	<p><strong>KindCode:</strong> <span th:text="${session.agent.getKindCode()}"></span></p>
	
	<br/>
	<br/>
	<form method="POST" action="changeInfo" >
		<input type="submit" class="btn btn-primary" name="cambiarContraseña" value="Cambiar contraseña"/>
	</form>
</main>
</body>
</html>