<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
    <div th:replace="fragments/navbar"/>
    <div class="incidence">
        <form method="post" class="addIncidence">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h1> <i class="fa fa-plus-circle"></i> Nueva incidencia </h1>
            </div>
            <p>Agente: <span sec:authorize="isAuthenticated()" th:inline="text">[[${#httpServletRequest.remoteUser}]]</span></p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"><input class="form-control" type="text" name="incidenceName" placeholder="Nombre incidencia"/></div>
                    <div class="form-group"><input class="form-control" type="text" name="description" placeholder="Descripción"/></div>
                    <div class="form-group"><input class="form-control" type="text" name="location" placeholder="Localización (ej: 45.67, 32.86)"/></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"><input class="form-control" type="text" name="labels" placeholder="Etiquetas (ej: rotura, fuego, agua)"/></div>
                    <div class="form-group"><input class="form-control" type="text" name="others" placeholder="Otros valores separados por comas"/></div>
                    <div class="form-group"><input class="form-control" type="text" name="fields" placeholder="Campos con propiedad valor (ej: campoA : valordelcampoA ; campoB : valordelcampoB ;)"/></div>
                </div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Enviar incidencia</button></div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>