<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
    <div th:replace="fragments/navbar"/>
    <div class="super-wrapper">
        <div class="clean-wrapper">
            <h2 class="sr-only">List incidences</h2>
            <div class="illustration">
                <h1> <i class="fa fa-list-ul"></i> Mis incidencias</h1>
            </div>
            <p sec:authorize="isAuthenticated()">Agente: <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span></p>
            <div class="row">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Localización</th>
                            <th>Etiquetas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="incidence : ${incidenceList}">
                            <td th:text="${incidence.status}">ABIERTA</td>
                            <td th:text="${incidence.incidenceName}">Gotera en el techo</td>
                            <td th:text="${incidence.description}">Debido a una rotura de cañería</td>
                            <td th:text="${incidence.location}">43.6735, 58.2452</td>
                            <td><span th:each="label : ${incidence.labels}">
                                    <span th:text="${label}">gotera</span>,
                                </span>
                            </td>
                            <td><form action="/incidences/view" method="post">
                                <input type="hidden" name="id" th:value="${incidence.id}" />
                                <input type="submit" class="btn btn-primary" value="Ver incidencia"/>
                            </form>
                            </td>
                        </tr>
                        <!--<tr>
                            <td>CERRADA</td>
                            <td>Rotura de cañería</td>
                            <td>Se ha roto totalmente una cañería de plomo</td>
                            <td>43.6735, 58.2452</td>
                            <td>rotura, agua, cañería</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>